* {
    box-sizing:border-box;
 
    font-family: 'Segoe UI';
}
html{
  height:100%;
}
body{
  
margin:0;
height:100%;
}
header{
background-color:rgb(85, 94, 169);
background-image: linear-gradient(to right, rgb(85, 94, 169) ,rgb(85, 94, 169) , rgb(159, 161, 199));
padding: 25px, 25px, 25px, 25px;
margin-top: 0;
overflow: hidden;
position: relative;
width: 100%;

min-height:100%;

}
.bg-perpective{
  perspective: 100px;
  position: absolute;
  margin-top: 50px;
  height: 80%;
  width: 100%;
}
.bgImage{
  margin-top: 10px;
 
  background-image: linear-gradient(to left, rgba(255,255,255,0) 10%,rgba(85, 93, 169, 0.712) ,
  rgb(85, 94, 169) ),  url("images/background.png");

    background-repeat: no-repeat;
  background-size: cover;
  background-position:85% 50%;
  
height: 100%;
width: 100%;

  transform-style: preserve-3d;
  transform: rotateY(-3deg);

}

.headerContent{
  position: relative;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  opacity: 1;
}



.loginBtn{
  font-weight: bold;
  float: right;
 
  font-weight: normal;
  margin-right: 5%;
  margin-top: 2%;
  font-size: 14px;
  background-color: rgb(0, 94, 216);
  color: white;
  border: 2px solid rgb(0, 94, 216);
padding-top: 10px;
padding-bottom: 10px;
padding-left: 40px;
padding-right: 40px;
border-radius: 10px;
}
.loginBtn:hover{
  background-color: white;
  color: rgb(0, 94, 216);
  transition: 300ms;
}
.headerContentBox{
  padding-top: 15px;
padding-bottom: 20px;
padding-left: 12%;
padding-right: 12%;
  margin-top: 6%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5%;

 
  
}
.headerLogoBox img{
  width: 50%;
}

.headerTxtBox h1{
  color: white;
  
}
.headerTxtBox p{
  color: white;
  

}
.headerTxtBox p i{
  padding-right: 10px;
}
.headerBtnBox{
  margin-top: 5%;
}
.headerBtnBox button{
  font-weight: bold;

  background-color: rgb(57, 139, 32);
  color: white;
  border: 2px solid rgb(57, 139, 32);
padding-top: 13px;
padding-bottom: 13px;
padding-left: 25px;
padding-right: 25px;
border-radius: 7px;
margin-top: 5px;
margin-left: 1px;
margin-right: 1px;
margin-bottom: 1px;
 
}
.headerBtnBox button:hover{
  background-color: white;
  color: rgb(57, 139, 32);
  transition: 300ms;
}
.MainContent{
  margin: 0;
  width: 100%;
position: relative;
}
.NavBtnsBox{

  
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 2%;
 
  
}
.NavBtnsBox Button{
  
  font-weight: bold;
 margin-right: 50px;
  text-align: center;
  background-color: white;
  color: rgb(85, 94, 169);
  border: 2px solid rgb(85, 94, 169);
padding-top: 13px;
padding-bottom: 13px;

border-radius: 50px;



}
.NavBtnsBox button:hover{
  background-color: rgb(85, 94, 169);
  color: white;
  transition: 300ms;
}



.article-container{
width:100%;
margin-top: 4%;
}
.article-sec-1{
  padding:30px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 10px;
  background-color: rgb(255, 240, 230);
  width: 80%;
  margin: auto;
 
  justify-content: center;
display: flex;
flex-wrap: wrap;
margin-bottom: 6%;

}
.article-img-container{
width:60%;
margin-right: 20px;

display: flex;
align-content: center;

}
.article-img{
  width :100%;
  max-height: 450px;
}
.article-text-container{
  width:35%;

}
.article-title-container-1{
  color: rgb(250, 140, 61); 
}
.article-btn-container-1 button{
  font-weight: bold;

  background-color: rgb(250, 140, 61);
  color: white;
  border: 2px solid rgb(250, 140, 61);
padding-top: 12px;
padding-bottom: 12px;
padding-left: 30px;
padding-right: 30px;
border-radius: 5px;
margin-top: 5px;
margin-left: 4px;
margin-right: 4px;
margin-bottom: 1px;
min-width: 140px;

}
.article-btn-container-1 button:hover{
  background-color: white;
  color: rgb(250, 140, 61);
  transition: 300ms;
}
.article-sec-2{
  padding:30px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 10px;
  background-color:rgb(238, 249, 241);
  width: 80%;
  align-content: center;
  margin: auto;
  justify-content: center;
display: flex;
flex-wrap: wrap;

}
.article-title-container-2{
  color: rgb(53, 166, 88);
}
.article-btn-container-2 button{
  font-weight: bold;

  background-color: rgb(53, 166, 88);
  color: white;
  border: 2px solid rgb(53, 166, 88);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 30px;
  padding-right: 30px;
border-radius: 5px;
margin-top: 5px;
margin-left: 4px;
margin-right: 4px;
margin-bottom: 1px;
min-width: 140px;

}
.article-btn-container-2 button:hover{
  background-color: white;
  color: rgb(53, 166, 88);
  transition: 300ms;
}


.MissionBox{
  background:rgb(85, 94, 169);
  padding-top: 30px;
padding-bottom: 80px;
padding-left: 30px;
padding-right: 30px;
border-radius: 50% 50% / 10% 10%;
border-top-left-radius: 0%;
border-top-right-radius:0%;
margin-top: 70px;
overflow: hidden;
position: relative;

}

.MissionBoxTitle{
  margin: auto;
  text-align: center;

  
}
.MissionBoxTitle h1{
  color: white;
  font-size: 36px;
}
.MissionBoxBtns{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.btn-mission1 {
  font-weight: bold;

  background-color: white;
  color: rgb(85, 94, 169);
  border: 2px solid white;
  padding: 20px;
border-radius: 5px;
margin-top: 15px;
margin-left: 7px;
margin-right: 4%;
margin-bottom: 1px;

  
}
.btn-mission1:hover{
  background-color: rgb(85, 94, 169);
  color: white;
  transition: 300ms;
}
.btn-mission2 {
  font-weight: bold;
    
  background-color: rgb(85, 94, 169);
  color: white;
  border: 2px solid white;
padding: 20px;
border-radius: 5px;
margin-top: 15px;
margin-left: 7px;
margin-right: 7px;
margin-bottom: 1px;

  
}
.btn-mission2:hover{
  background-color: white;
  color: rgb(85, 94, 169);
  transition: 300ms;
}

.linkBox{

padding-top: 50px;
padding-left: 20px;
padding-right: 20px;
justify-content: center;
display: flex;
flex-wrap: wrap;
margin: 0 auto;

}
.icon-logos a{
  text-decoration: none;
  color:black;
  margin-left: .7rem;
margin-right: .7rem;

}
.linkLogoBox{
  padding: 5px;
padding-right: 100px;
  width: 27%;
  text-align: center;
}
.linkLogoBox img{
  height: 100px;

}

.linkLogoBox i{

  text-decoration: none;
  color: black;
}
.linkLinks{
  
  width: 15%;
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  align-content: center;
 
 
}
.linkLinks a{
  font-size: 12px;

  
  
  margin-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
  
 

}
footer{
  margin: auto;
  margin-top: 30px;
  text-align: center;
 
  padding-top: 20px;
  padding-bottom: 20px;
 
}

footer span{
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

hr{
  width: 80%;
  opacity: .7;
}



@media screen and (max-width: 1250px) {
  .article-desc-container{
    font-size: 12px;
 
  }
}
@media screen and (max-width: 900px) {
  .col-66,
  .col-33 {

    text-align: center;
    transition: 1s;

  }
  footer span{
    font-size: 10px;
  }
  .linkLinks{
  width: 40%;
  }
  
  .headerLogoBox img{
    width: 90%;
  }
 
  .sectionArt1{
    width: 90%;
  }
  .sectionArt2{
    width: 90%;
  }
 
  .linkLinks{
    text-align: center;
  
  }
  .article-img-container {
    width: 100%;

 
  }
  .article-text-container{
    width: 100%;
  }
  h1{
    font-size: 24px;
  }

  .linkLogoBox{
   
  width: 100%;
    padding-right: 0px;
  }

 
  .NavBtnsBox Button{
   
   margin-right: 10px;
   width:auto;
  }
 
  .headerContentBox{
  
    margin-top: 3%;
   
    
  }


}



.col-s-1 {width: 10%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}
@media only screen and (min-width: 600px) {

  .col-s-1 {width: 10.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  .NavBtnsBox Button{
    width:auto;}
}
@media only screen and (min-width: 768px) {
 
  .col-1 {width: 10.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  .NavBtnsBox Button{
    width:15%;}
}
@media only screen and (min-width: 1458px) {

  .col-1 {width: 10.33%;}
  .col-2 {width: 25.66%;}
  .col-3 {width: 30%;}
  .col-4 {width: 40.33%;}
  .col-5 {width: 45.66%;}
  .col-6 {width: 60%;}
  .col-7 {width: 75.33%;}
  .col-8 {width: 80.66%;}
  .col-9 {width: 85%;}
  .col-10 {width: 90.33%;}
  .col-11 {width: 95.66%;}
  .col-12 {width: 100%;}
  .headerTxtBox h1{font-size: 40px;}
  .header-list{font-size: 22px;}
  .headerBtnBox button{width:24%;padding: 23px;font-size: 18px;margin-right: 20px;}
  .loginBtn{font-size: large;padding-left: 50px;padding-right: 50px;}
  .linkLinks a{
    font-size: 14px;
  
  }
  .MissionBoxTitle h1{
    font-size: 55px;
  }
  .headerContentBox{
    margin-top:3%;
  }
  .article-sec-1{
    width: 70%;
  }
  .article-sec-2{
    width: 70%;
  }
  .article-img-container {
    width: 60%;
    
 
  }
  .header-list{font-size: 22px;padding-left: 5px;}

  .btn-mission1{width:15%;margin-right: 3%;font-size: x-large;

  } 
  .btn-mission2{width:15%;font-size: x-large;

  }  .article-desc-container{
    min-height: 62%;font-size: 15px;  line-height: 150%;
  }
  .NavBtnsBox Button{
    width:12%;padding:17px}
    .article-btn-container-2 button{
      padding-left: 50px;
      padding-right: 50px;
    }
    .article-btn-container-1 button{
      padding-left: 50px;
      padding-right: 50px;
    }

}
@media only screen and (min-width: 1608px) {
  /* For desktop: */
  .col-1 {width: 10.33%;}
  .col-2 {width: 25.66%;}
  .col-3 {width: 30%;}
  .col-4 {width: 40.33%;}
  .col-5 {width: 45.66%;}
  .col-6 {width: 60%;}
  .col-7 {width: 75.33%;}
  .col-8 {width: 80.66%;}
  .col-9 {width: 85%;}
  .col-10 {width: 90.33%;}
  .col-11 {width: 95.66%;}
  .col-12 {width: 100%;}
  .loginBtn{font-size: large;padding-left: 50px;padding-right: 50px;}
  .headerTxtBox h1{font-size: 40px;}
  .header-list{font-size: 22px;padding-left: 5px;}

  .headerBtnBox button{width:24%;padding: 23px;font-size: 18px;margin-right: 20px;}
  .linkLinks a{
    font-size: 14px;} 
    .btn-mission1{width:20%;margin-right: 3%;font-size: x-large;

    } 
    .btn-mission2{width:20%;font-size: x-large;
  
    }
   .article-desc-container{  min-height: 62%;font-size: 15px;}
   .NavBtnsBox Button{
    width:12%;padding:17px;}
    .article-sec-1{
      width: 70%;
    }
    .headerContentBox{
      margin-top:3%;
    }
    .article-sec-2{
      width: 70%;
    }
    .MissionBoxTitle h1{
      font-size: 55px;padding:15px;
    }
    .article-btn-container-2 button{
      padding-left: 50px;
      padding-right: 50px;
    }
    .article-btn-container-1 button{
      padding-left: 50px;
      padding-right: 50px;
    }
}
